:root {
  --highlight: #4fffd9;
}
/* .anchors {
  position:fixed;
}
#section-about {
  left:100vw;
} */
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', sans-serif;
  color: rgba(0, 0, 0, 1);
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.slide {
  position: absolute;
  width: 1400px;
  height: 1000px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
/* #spacer {
  width: 50px;
  height: 100vh;
} */
.outer-wrapper {
  /* position: relative; */
  overflow: hidden;
  /* width:7000px; */
  /* scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(1000px);
  scroll-snap-type: x mandatory; */
}
.wrapper {
  /* display: flex;
  flex-direction: row; */
  /* width: 6000px; */
  scroll-snap-type: inline mandatory;
  overflow-x: scroll;

}
.one {
  scroll-snap-align: center;
  position:absolute;
  clip: rect(0px,3000px,100vh,0px);
  background: black;
  width: 3000px;
}
.two {
  scroll-snap-align: center;
  background-image: url('graphics/grid.png');
  background-size: 500px 250px;
  background-color:white;
  clip: rect(0px,5000px,100vh,0px);
  /* background: white; */
  width: 5000px;
}
.three {
  clip: rect(0px,7000px,100vh,0px);
  scroll-snap-align: center;
  background: #CCCCCC;
  width: 7000px;
}
.four {
  background: yellow;
  width: 600vw;
}

h1 {
  /* position: absolute; */
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  font-size: 100px;
  color:white;
  margin: 0;
  padding: 0;
}
h2 {
  position: absolute;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  font-size: 50px;
  color:white;
  margin: 0;
  padding: 0;
}
h3 {
  position:absolute;
  padding: 0;
  margin: 0;
  font-size:40px;
  color:black;
}
p {
  font-family: "Heebo";
  position:absolute;
  font-size: 20px;
  font-weight: normal;
  color:black;
}
.highlight {
  background-color: var(--highlight);
}

.image-large {
  width:90vh;
}
.image-medium {
  width:70vh;
}
.image-small {
  width:50vh;
}

.menu-wrapper {
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  width: 100vh;
  height: 50px;
  position:fixed;
}
.menu {
    transform: translate(-100vh,0px);
    width: 100vh;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* padding: -5px; */
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#menu-items {
  /* background-color: red; */
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#menu-title {
  /* background-color: blue; */
  margin-right:15px;
}
.menu-item {
  /* transform-origin: 0 100%; */
  font-family: "Heebo";
  font-weight: normal;
  color:black;
  font-size: 22px;
  /* margin-bottom: 7px; */
  text-decoration: none;
  color:black;
  /* border-bottom: 1px solid white; */
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.menu-item:hover {
  background-color: var(--highlight);
  /* border-bottom: 1px solid black; */
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

#title-image {
  /* transform: rotate(90deg); */
  width:210px;
  /* margin-left: 200px; */
  margin:0;
  margin-bottom: -6px;
  padding:0;
  /* margin-bottom: 5px; */
  /* margin-right: -5px; */
  /* border-bottom:none; */
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#title-image:hover {
  /* border-bottom: none; */
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  background-color:var(--highlight);
}

#test-description {

}

/* INTRO PAGE */
#verbs {
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
  /* position: absolute; */
  text-align: right;
  line-height: 0.9;
  /* left:0px; */
}
#er {
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
  position: relative;
  line-height: 0.9;
  /* top:42vh; */
  /* padding-left: 600px; */
}
#verbs-er-wrapper {
  position:fixed;
  /* z-index:1; */
  left:0px;
  top:0px;
  width:100vw;
  height:100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
#verbs-er {
  width: 725px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#verbs-wrapper {
  height:88px;
}
#intro-text {
  color:red
}
#gradient {
  /* visibility: hidden; */
  position: absolute;
  left:0;
  width: 3000px;
  height: 100vh;
}

/* ABOUT PAGE */
#section-about {
  scroll-snap-align: start;
  position:absolute;
  left:230vw;
}
#wrapper-two {
  /* background-color: blue; */
  position:relative;
  left:1850px;
  width:1000px;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items:flex-end; */
}
#wrapper-two-flex {
  /* background-color:red; */
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#headline {
  position: relative;
  padding:0;
  margin:0;
}
#introduction {
  position: relative;
  width:700px;
  padding:0;
  margin:0;
}
#portrait-wrapper {
  position:absolute;
  left: 3300px;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#self-portrait {
  height:400px;
}

/* FEATURED PAGE */

#wrapper-three {
  /* background-color: red; */
  position:relative;
  left:2750px;
  width:1000px;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrapper-three-flex {
  /* background-color:blue; */
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#wrapper-three-flex>h3>a {
  padding:0;
  margin:0;
  /* background-color: #00FF00; */
  color: #777777;
  text-decoration: none;
  transition: 1s;
}
#wrapper-three-flex>h3>a:hover {
  color: #555555;
  background: linear-gradient(0.25turn, var(--highlight) 50%, rgba(79, 255, 217, 0) 100%);
  font-size:45px;
  /* border-bottom: 1px solid black; */
}
#wrapper-three>h3 {
  line-height: 0.8;
  padding: 0;
  margin: 0;
}
#project-header {
  color:black;
  /* background-color:#FFFF00; */
  padding:0;
  margin:0;
  position:relative;
  /* top: 25vh; */
}
#projects {
  /* background-color: #FFFFFF; */
  position: relative;
}
#thumbnails {
  position: absolute;
  height:70vh;
  width:400px;
  background-color: #DDDDDD;
  top:15vh;
  left:4450px;
  display:flex;
  align-items: center;
  justify-content: center;
  clip: rect(0px,400px,70vh,0px);

}
#thumbnails>img {
  height:70vh;
  position: fixed;
  opacity: 0.5;
  /* filter: contrast(50%); */
  /* filter: brightness(100%); */
}
.client {
  font-family: "Heebo";
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
}
