body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
a {
  text-decoration: none;
  color:black;
  border-bottom: 1px solid white;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
a:hover {
  border-bottom: 1px solid black;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header {
  position: fixed;
  top: 1vw;
  left: 3vw;
  /* bottom: 0; */
  right: 3vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#left {
  /* flex-grow: 1; */
}
#right {
  /* flex-grow: 1; */
  /* overflow-y: auto; */
}
/* .scroll {
  height: 300vw;
} */

.slide {
  width: 1200px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
#spacer {
  width: 50px;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;

}
.one {
  background: orange;
}
.two {
  background: #a3f3d3;
}
.three {
  background: #0bbaa0;
}
.four {
  background: #00dfdf;
}

.thumbnail {
  width:30vw;
  /* height:50vh; */
}

.menu-wrapper {
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  width: 100vh;
  height: 50px;
  position:fixed;
}
.menu {
    transform: translate(-100vh,0px);
    width: 100vh;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;
    /* padding: -5px; */
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
.menu-item {
  /* transform-origin: 0 100%; */
  color:black;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
#title-image {
  /* transform: rotate(90deg); */
  width:210px;
  margin-bottom: 5px;
  margin-right: -10px;
  border-bottom:none;
}
#title-image:hover {
  border-bottom: none;
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -o-transform: skewX(0deg);
  transform: skewX(0deg);
}

#section-intro {

}
